x<style>
	
	para {
		display: block;
		text-indent: 2.0em;
	}

</style>


<para>Our Website is dedicated to help you, students in University of Illinois at Urbana-Champaign, making it easier to get in the classes you'd love to.</para>
<br />
<h4>What we do:</h4>
<ul>
	<li>Automatically tracking open spots for the courses of your choice.</li>
	<li>Sending you email notices about the availability of your chosen courses.</li>
	<li>Saving your time and energy trying to get into courses by checking manually. (Which is horrible. I've been there.)</li>
</ul>
<h4>What we don't do:</h4>
<ul>
	<li>Registering courses for you. (This kind of activity is not allowed by the University)</li>
	<li>Taking others' spots and give them to you. (This is bad and we simply cannot)</li>
</ul>
<para>I know I would love to use this site to help keep tracking of courses I want to take, especially the really popular ones which everyone wants in.</para>
<br />
<para><strong><big>Just register with your email address, set up a password, pick your classes and we will be watching for you! It's that simple!</big></strong></para>
<br />
