<style>
	
	para {
		display: block;
		text-indent: 2.0em;
	}

</style>

<ul>
	<li>After we got complaints about server shutting down last semester, we updated our server and our service now is guaranteed to be on 24/7.</li>
	<br />
	<li>Our website is non-profit, aiming to help all of you so that you don't have to waste unnecessary time, energy and clicks. However, there is a cost to host and maintain the website and to keep it safe. So, we added a <a href="{{ url_for('user.donate') }}" style="color:gold"> donate</a> page and we hope to have your support!</li>
	<br />
	<li>We installed SSL for our website, (switching from http to https), making the connection including donation (transaction) more secure.</li>
</ul>