{% extends "_base.html" %}
{% block content %}

<style>
  input[type="radio"] {
    visibility: hidden;
  }

  td {
    text-align: center;
    cursor: pointer;
    font-size: 20px;
  }

  td div {
    height: 35px;
    border-radius: 20%;
  }

  input[type="number"] {
    font-size: 13px;
    height: 35px;
  }

  .otherdiv {
    height: 45px;
    border-radius: 20%;
  }

</style>

<!-- <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.2.1.min.js"></script> -->
<script src="{{url_for('static', filename='jquery.min.js')}}"></script>

<script src="https://checkout.stripe.com/checkout.js"></script>
<div class="row">

<div class="col-md-6 col-sm-6">
  <h3>Thank you for donating!</h3>

</div>

<div class="col-md-6 col-sm-6">
<table class="table">
<tbody>
  <tr>
    <td>
      <input type="radio" id="1" value="100"></input>
      <div class="mondiv" for="1">$1</div>
    </td>
    <td>
      <input type="radio" id="2" value="200"></input>
      <div class="mondiv" for="2">$2</div>
    </td>
    <td>
      <input type="radio" id="3" value="500"></input>
      <div class="mondiv" for="3">$5</div>
    </td>
    <td>
      <input type="radio" id="4" value="1000"></input>
      <div class="mondiv" for="4">$10</div>
    </td>
    <td>
      <input type="radio" id="5"></input>
      <div class="mondiv otherdiv" for="5">other: $<input type="number" step="0.01" id="5a"></input></div>
      
    </td>
  </tbody>
</table>
<button id="customButton" class="btn btn-primary">Donate!</button>
</div>

</div>


<form id="submitform" action="/charge" method="POST"></form>

<script>

  
  var moneyval = 0;
  $('.mondiv').on('click', function(){
    var idid = $(this).attr("for");
    $('.mondiv').each(function(){
      $(this).css("background-color", "transparent");
      $(this).siblings('input').prop('checked', false);
    });
    $(this).css("background-color", "#eeeeee");
    $(this).siblings('input').prop('checked', true);
    if (idid == "5") {
      var elem = $('#5a');
      elem.data('oldVal', elem.val());
      elem.bind("propertychange change click keyup input paste", function(event){
          if (elem.data('oldVal') != elem.val()) {
            elem.data('oldVal', elem.val());
            moneyval = parseFloat(elem.val());
            if (isNaN(moneyval) || moneyval<0) {
              moneyval = 0.0;
            }
            moneyval *= 100;
            // console.log(moneyval);
          }
        });
    }
    else {
      moneyval = $(this).siblings('input').attr('value');
    }
    // console.log(moneyval);
  });


  var handler = StripeCheckout.configure({
    // key: 'pk_test_vT5Fw6xGiXm0ko6PXZjRR3zf',
    key: '{{ key }}',
    // image: '/img/documentation/checkout/marketplace.png',
    locale: 'auto',
    token: function(token) {
      // Use the token to create the charge with a server-side script.
      // You can access the token ID with `token.id`
      var $input = $('<input type=hidden name=stripeToken />').val(token.id);
      var $input2 = $('<input type=hidden name=stripeEmail />').val(token.email);
      var $input3 = $('<input type=hidden name=data-amount />').val(moneyval);
      $('#submitform').append($input).append($input2).append($input3).submit();
    }
  });

  $('#customButton').on('click', function(e) {
    // Open Checkout with further options
    console.log(moneyval);
    handler.open({
      name: 'Donation',
      description: 'Thank you!',
      amount: moneyval
    });
    e.preventDefault();
  });

  // Close Checkout on page navigation
  $(window).on('popstate', function() {
    handler.close();
  });
</script>


{% endblock %}