{% extends "_base.html" %}

{% block content %}
<style>
  
  #logindiv {
    /*margin-left: 20px;*/
    /*width: 380px;*/
    border: black solid 2px;
  }

  #anouncementdiv {
    /*width: 300px;*/
    border: black solid 2px;
    /*float: right;*/
  }

</style>

<div class="container">
<div class="row">
<div id="logindiv" class="col-sm-4">
<h1>Please login</h1>
<br>
<form class="form-login" role="form" method="post" action="">
  {{ form.csrf_token }}
  <p>
    {{ form.email(placeholder="email") }}
    <span class="error">
      {% if form.email.errors %}
        {% for error in form.email.errors %}
          {{ error }}
        {% endfor %}
      {% endif %}
    </span>
  </p>
  <p>
  {{ form.password(placeholder="password") }}
    <span class="error">
      {% if form.password.errors %}
        {% for error in form.password.errors %}
          {{ error }}
        {% endfor %}
      {% endif %}
    </span>
  </p>
  <button class="btn btn-success" type="submit">Sign in!</button>
  <br><br>
  <p>Need to <a href="/register">Register</a>?</p>
</form>
</div>

<div class="col-sm-1"></div>

<div id="anouncementdiv" class="col-sm-7">

  <h1>Course Hunter <small>SP 2016</small></h1>
  <!-- {% block anouncement %}{% endblock %} -->
  {% include "anouncement.html" %}

</div>

</div>
</div>

{% endblock %}